@import 'smart-grid';
@include reset();
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300, 400,500,700&subset=cyrillic-ext');
$primary-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Roboto', sans-serif;
$accent-color: rgba(255, 126, 0, 0.8);
$primary-color: #4a4a4a;
$grey-color: #CBCBCB;
$secondary-color: #2b76ac;
$white-color: #ffffff;
$black-color: #000000;
$border:  none;//1px solid purple;

body {
	@include col();
	justify-content: center;	
}

//// NEW HEADER ///// NEW HEADER ///// NEW HEADER //////
//// NEW HEADER ///// NEW HEADER ///// NEW HEADER //////
//// NEW HEADER ///// NEW HEADER ///// NEW HEADER //////

.nav {
	border: $border;
	background: $white-color;
	@include row-flex;
	@include md(justify-content, center)
	justify-content: center;
	border: $border;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;	
	width: 100%;
	z-index: 9999;
	min-height: 100px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	& .nav__container {
		@include row-flex;
		@include wrapper-full;
		border: $border;
		width: 1590px;
		background-color: white;
	& .logo {
		order: 1;
		border: $border;
		@include col();
		@include size(2);
		@include size-lg(5);
		@include size-md(5);
		@include size-xs(6);
		text-align: left;
		max-height: 100px;
		padding-top: 25px;
		@include md(margin-left, 40px);
	}
	& .menu {
		border: $border;
		order: 3;
		@include col();
		@include size(6);
		@include size-lg(12);
		@include size-md(12);
		@include size-xs(12);
		@include lg(order, 7);
		@include col-padding();
		display: flex;
		flex-wrap: nowrap;		
		//margin: 0;
		justify-content: flex-end;
		@include lg(justify-content, center);
		//position: absolute;

		& .nav-link {
			white-space: nowrap;
			margin-right: 20px;
			//display: inline-block;
			border: $border;
			font-family: $primary-font;
			font-size: 16px;
			margin: auto 5px;
			text-decoration: none;
			text-transform: uppercase;
			color: $primary-color;
			padding: 10px;
			position: relative;			
			@include md(font-size, 18px);
			transition: all 0.5;
			z-index: 9999;

			&:hover {
				color: $white-color;
				font-weight: 500;

			}
			     
			&:after {
				content: ' ';
				display: block;
				background: $secondary-color;
				width: 100%;
				height: 100%;
				left: 50%;
  		  bottom: 0;
  		  z-index: -100;
				transform: 
     			translateX(-50%)
        	skew(-45deg)
        	scaleX(1.5);
        	opacity: 0;
				position: absolute;
				transition: all .3s cubic-bezier(.42,.08,0,1.8);
			}
		  &:hover:after {      
      width: 140%;

      transform:
        translateX(-50%)
        skew(-20deg)
        scaleX(1);

      opacity: 1;
	  }
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	& .contacts {
		order: 5;
		padding-top: 17px;
		
		border: $border;
		@include col();
		@include size(3);
		@include size-lg(5);
		@include size-md(5);
		@include size-xs(6);
		@include xs(display,none);
		max-height: 100px;
		@include row-flex;

		& .contacts__container {
			@include col();
			@include size(12);
		 	padding-top: 10px;
			border: $border;

			& span {
				display: block;
				text-align: right;
				color: $accent-color;
				font-family: $primary-font;
				font-size: 18px;
				@include md(font-size, 16px);
				border: $border;
			}
			& .contacts__mail {
				border: $border;
				display: block;
				text-align: right;
				font-family: $primary-font;
				font-size: 18px;
				@include md(font-size, 16px);
				text-decoration: none;
				line-height: 24px;
				color: $primary-color;
				&:hover {
					color: $accent-color;
				}
			}
		}
	}	
	& .click {
			@include col();
			@include size(1);
			@include size-lg(2);
			@include size-md(2);
			@include size-xs(2);
			@include lg(order, 2);
			border: $border;
			order: 10;
			display: flex;
			padding-left: 50px;
			@include lg(padding-left, 0);
			//justify-content: flex-end;
			//margin-left: auto;
		}
	}
}
.click__buttons {
	border: $border;
	margin: auto 0 auto auto;
	@include lg(margin, auto auto);
	& .click__price-btn {
		display: inline-block;
		padding: 7px;
		font-family: $primary-font;
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		color: $white-color;
		text-decoration: none;
		width: 120px;
		text-align: center;
		box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
		transition: all 0.2s;
	}
}
.click__price-btn {
	background: $secondary-color;
}
.click__price-btn:hover {
	cursor: pointer;
	
	box-shadow: 0 14px 20px -8px rgba(0,0,0,0.3),
							0 20px 30px -5px rgba(0,0,0,0.1);
	transform: translateY(-3px);
}
.click__price-btn:active {
	box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);	
}

//// SLIDER ///////// SLIDER ///////// SLIDER /////
//// SLIDER ///////// SLIDER ///////// SLIDER /////
//// SLIDER ///////// SLIDER ///////// SLIDER /////
.slider {
	margin-top: 100px;
	@include row-flex;	
	border: $border;
	z-index: 3;
	& .slider-container {
		z-index: 10;
		display: block;
		margin: 0 auto;
		border: $border;
		width: 100%;
		min-height: 452px;
		background: url('../img/back.jpg') no-repeat center center;
		
& .caption__wrapper {
			border: $border;
			@include wrapper();
			max-width: 1030px;
			& .caption {
				background-color: rgba(250, 250, 250, 0.5);
				display: block;
				max-width: 330px;
				max-height: 180px;
				border: $border;
				margin-top: 123px;
				padding: 35px;
				
				& .td {
					color: $white-color;
					border: $border;
					line-height: 30px;
					display: block;
					font-size: 30px;
					letter-spacing: 2px;
					font-family: $primary-font;
					font-weight: 500;
					text-shadow: 0 0 10px rgba(0,0,0, .4);
					}   
				& .istra {
					color: $white-color;
					text-shadow: 0 0 1 rgba(0,0,0, .3);
					border: $border;
					line-height: 60px;
					display: block;
					font-size: 72px;
					text-transform: uppercase;
					font-family: $primary-font;
					font-weight: 500;
					text-shadow: 0 0 10px rgba(0,0,0, .4);
					letter-spacing: 2px;
				}
				& h1 {
					display: block;
					margin-top: 10px;
					font-family: $primary-font;
					border: $border;
					font-size: 16px;
					color: $secondary-color;
					font-weight: 500;
					line-height: 22px;
					text-shadow: 0 0 10px rgba(0,0,0, .2);						
	    	}
			}
		}
	}
}
.slider .delivery {
	background-image: url("../img/wp_delivery_min.jpg");
	min-height: 250px;
	background-position: center center;
}
.delivery .caption__wrapper { 
	height: 100%;
}
.delivery_wp {
	margin-top: 0;
	background-color: rgba(250, 250, 250, 0.5);
	display: block;
	max-width: 330px;
	max-height: 250px;
	border: $border;
	padding: 35px;
				& .td {
					color: $white-color;
					border: $border;
					line-height: 30px;
					display: block;
					font-size: 30px;
					letter-spacing: 2px;
					font-family: $primary-font;
					font-weight: 500;
					text-shadow: 0 0 10px rgba(0,0,0, .4);
					}   
				& .istra {
					color: $white-color;
					text-shadow: 0 0 1 rgba(0,0,0, .3);
					border: $border;
					line-height: 60px;
					display: block;
					font-size: 72px;
					text-transform: uppercase;
					font-family: $primary-font;
					font-weight: 500;
					text-shadow: 0 0 10px rgba(0,0,0, .4);
					letter-spacing: 2px;
				}
				& h1 {
					display: block;
					margin-top: 10px;
					font-family: $primary-font;
					border: $border;
					font-size: 16px;
					color: $secondary-color;
					font-weight: 500;
					line-height: 22px;
					text-shadow: 0 0 10px rgba(0,0,0, .2);
					
					
	    		}
}

////// NEWS ///////////// NEWS ///////////// NEWS ///////
////// NEWS ///////////// NEWS ///////////// NEWS ///////
////// NEWS ///////////// NEWS ///////////// NEWS ///////

.news__section {
 	border: $border;
 	padding: 30px;
 	@include row-flex;
	& .news__container {
		border: $border;
		box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
		@include wrapper();
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		border-radius: 5px;
		& .date__container{
			display: block;
			@include row-flex;
			justify-content: space-between;
			margin: 30px 30px;
			align-items: flex-end;
			border-bottom: 2px solid black;
			& span {
				font-family: $primary-font;
				font-size: 30px;
				text-transform: uppercase;
			}
			& .news-date {
				font-family: $primary-font;
			}
		}
		& .dobro {
			font-family: $primary-font;
			font-size: 30px;
			line-height: 30px;
			font-weight: 500;
			margin: 30px 30px;
		}
		& .news_p {
			font-family: $accent-font;
			font-size: 16px;
			line-height: 24px;
			font-weight: 300;
			margin: 10px 30px 40px 30px;
			column-count: 2;
			@include md(column-count, 1);
			column-gap: 60px;
			text-align: justify;
			& ul li {
				list-style-type: circle;
				list-style-position: inside;
			}
		}
	}
}		
//<!-- начало О НАС  - начало О НАС  - начало О НАС  -->
//<!-- начало О НАС  - начало О НАС  - начало О НАС  -->
//<!-- начало О НАС  - начало О НАС  - начало О НАС  -->
.us__section {
	border: $border;
	@include row-flex;
}
.us__container {
	border: $border;
	@include wrapper();
	max-width: 1170px;
	width: 100%;
	justify-content: space-around;

	& .us__item {
		border: $border;
		@include col();
		@include size(12);
		@include size-sm(12);
		padding: 50px 50px; 
		margin-top: 40px;
		margin-bottom: 40px;
		box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
		border-radius: 3px;
		& .us__heading {
			padding-bottom: 10px;
			border-bottom: 2px solid black;
			& .fa {
			line-height: 36px;
			color: $accent-color;
			}
			& h2 {
				font-family: $primary-font;
				font-size: 30px;
				text-transform: uppercase;
				float: right;
			}
		}
		
		& span {
			display: block;
			margin-top: 30px; 
			font-size: 16px;
			font-family: $accent-font;
			line-height: 24px;
			font-weight: 300;
			column-count: 2;
			@include sm(column-count, 1);
			column-gap: 50px;
			text-align: justify;
			@include md(font-size, 20px);
			&:first-letter {
					font-size: 24px;
				}
		}
	}
}

/////////////////// СЕКЦИЯ ПАРТНЁРЫ //////////////////
/////////////////// СЕКЦИЯ ПАРТНЁРЫ //////////////////
/////////////////// СЕКЦИЯ ПАРТНЁРЫ //////////////////

.partners__section {
 	border: $border;
 	box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
 	padding: 30px;
 	margin: 40px 0;
 	@include row-flex;
	& .partners__container {
		border: $border;
		@include wrapper();
		max-width: 1170px;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		margin: 0 auto;
		justify-content: space-around;
		& .partners__item {
			border: $border;
			width: 100%;
			height: 100px;
			background-repeat: no-repeat;
			background-position: center center; 
		}
		& .item1 {
			background-image: url("../img/partners/1.png");
		}
		& .item2 {
			background-image: url("../img/partners/2.png");

		}
		& .item3 {
			background-image: url("../img/partners/3.png");
			background-size: 80%;
		}
		& .item4 {
			background-image: url("../img/partners/4.png");
		}
		& .item5 {
			background-image: url("../img/partners/5.png");
		}
	}
 }


/////// СЕКЦИЯ СЛАЙДЕР /////////////////////////
/////// СЕКЦИЯ СЛАЙДЕР /////////////////////////
/////// СЕКЦИЯ СЛАЙДЕР /////////////////////////


.section__carousel {
	z-index: 1000;
	display: block;
	height: 127px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 30px;
	border: $border;
	& .container__carousel {
		@include wrapper();
		border: $border;
		max-width: 1170px;
	}
}
.carousel__img {
	border: $border;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	width: 170px;
	height: 127px;
}

.img1 {
	background-image: url("../img/brands/tork_paper.png");
}
.img2 {
	background-image: url("../img/brands/hayat_logo.png");
}
.img3 {
	background-image: url("../img/brands/tork_logo.png");
}
.img4 {
	background-image: url("../img/brands/hayat.png");
}
.img5 {
	background-image: url("../img/brands/tork_clean.png");
}
.img6 {
	background-image: url("../img/brands/soap.png");
}


////////// NEW_CAT   /////////// NEW_CAT   /////////// NEW_CAT   //////////
////////// NEW_CAT   /////////// NEW_CAT   /////////// NEW_CAT   //////////
////////// NEW_CAT   /////////// NEW_CAT   /////////// NEW_CAT   //////////

.new-cat {
	border: $border;
	@include row-flex;
	
	& .new-cat__container {
		border: $border;
		@include row-flex;
		@include wrapper();
		max-width: 1170px;
		width: 100%;

		& .new-cat__menu {			
			padding-top: 25px;
			padding-left: 0;
			border: $border;
			box-shadow: 0 0 15px rgba(0,0,0,0.1);
			border-radius: 5px;
			@include col();
			@include size(4);			
			& .new-cat__heading {
				margin: 20px 0 10px 12px ;
				padding-bottom: 1px;
				padding: 0;
					
				& .new-cat__catalog-btn {
					background: $white-color;
					border: none;
					outline: none;
					font-family: $primary-font;
					font-size: 20px;
					font-weight: 500;
					text-transform: uppercase;		
					color: $secondary-color;
					&:hover {
						cursor: pointer;
						text-decoration: underline;
						color: lighten($secondary-color, 20%);
						transition: .2s;
					}
					&:active {
						text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
					}
				}
				& .time {
					line-height: 20px;
					color: black;
					margin-top: 0;
					float: right;
					font-weight: 400;
					font-family: $primary-font;
					font-size: 16px;
					text-transform: uppercase;					
				}
			}
			& .new-cat__category {
				border: $border;
				padding: 0 0 10px 10px;
				margin-bottom: 20px;
				margin-left: 20px;
				background-color: white;		
				border-left: 1px solid $secondary-color;




				& ul {
					padding-left: 20px;		
				}
				& li {					
					border: $border;					
					padding: 0;
					display: block;

					& .new-cat__sublist {
						margin-top: 0px;
						display: none;
						
						& .new-cat__sublist:last-child {
							margin-bottom: 10px;
						}
						& li button {							
							font-family: $primary-font;
						}
					}	
				}
				& .new-cat__category-link {
					line-height: 26px;
					outline: none;
					border: $border;						
					$white-color-space: nowrap;
					text-align: left;
					font-family: $primary-font;
					font-size: 15px;
					color: $secondary-color;
					text-decoration: none;
					width: 100%;
					background-color: white;
					text-transform: uppercase;					
							
					&:hover {
						color: darken($secondary-color, 20%);
						cursor: pointer;
						background: darken($white-color, 5%);						
					}						
				}
				& .new-cat__link {					
					line-height: 22px;
					outline: none;
					border: $border;					
					$white-color-space: nowrap;						
					@include md(display, inline-block);
					width: 100%;
					text-align: left;
					font-family: $primary-font;
					font-size: 15px;
					color: $secondary-color;
					text-decoration: none;
					background-color: white;
					padding-left: 15px;
					transition: all 0.1s;
					&:hover {
						transform: translateX(5px);						
						cursor: pointer;
					}
				}
			}
		}
		& .new-cat__catalog {
			border: $border;
			@include col();
			@include size(8);		
			background-color: white;
			border-radius: 3px;
			padding: 20px;
			box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);		
		
			& .new-cat__content {
				border: $border;
				
				& a {
					border: $border;
					font-family: $primary-font;
					font-size: 16px;
					color: $secondary-color;
				}
				& .new-cat__nav {
					display: inline-block;
				}				
			}
		}
	}
}

/////// ADVERTISE ///////////// ADVERTISE ///////////// ADVERTISE //////
/////// ADVERTISE ///////////// ADVERTISE ///////////// ADVERTISE //////
/////// ADVERTISE ///////////// ADVERTISE ///////////// ADVERTISE //////

.advertise {
	border: $border;
	background-color: $secondary-color;
	color: $white-color;
	font-family: $accent-font;
	padding: 20px;
	font-size: 14px;
	font-weight: 300;
	& .advertise__desc {

  & span {
  	font-family: $accent-font;
  	font-weight: 300;
  	padding: 10px 0;
  }
	& h3 {
		font-family: $primary-font;
		text-transform: uppercase;
		padding-bottom: 10px;
		font-size: 20px;
	}
	& ul {
		font-family: $accent-font;
		padding-bottom: 20px;	
	}
	}

}


.new-cat__content .filler {
	border: $border;
	& .filler__block {
		@include wrapper;
		& .filler__content {
			
			& .filler__desc {
				margin-bottom: 20px;
				& p {

					border: $border;
					font-family: $accent-font;
					font-weight: 300;
					font-size: 15px;
					line-height: 22px;
					color: $secondary-color;
					//margin-bottom: 20px;
				}
			}
		}

		border: $border;
		& .filler__buttons {
			border: none;
			text-align: right;
			margin: 30px 0px 30px auto;
			& .buttons__download-price {
				background: $secondary-color;
				box-shadow: 0 10px 10px -5px rgba(0,0,0,0.4);
				transition: all 0.2s;
			}
			& .buttons__download-price:hover {
				cursor: pointer;
				box-shadow: 0 14px 20px -8px rgba(0,0,0,0.5);
				transform: translateY(-3px);
			}
			& .buttons__catalog {
				background: $accent-color;
				box-shadow: 0 10px 10px -5px rgba(0,0,0,0.4);
				transition: all 0.2s;
			}
			& .buttons__catalog:hover {
				cursor: pointer;
				box-shadow: 0 15px 20px -10px rgba(0,0,0,0.5);
				transform: translateY(-3px); 
			}

			& .filler-btn {
				border: none;
				display: inline-block;
				padding: 7px 7px;
				font-family: $primary-font;
				font-weight: 500;
				font-size: 12px;
				text-transform: uppercase;
				color: $white-color;
				text-decoration: none;
				//width: 120px;
				text-align: center;			
				 &:active {
					box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);	
				}
			}

		}
		

		
		& .filler__img {

			@include row-flex;
			justify-content: space-around;
			flex-wrap: nowrap;
			@include md(flex-wrap, wrap);
			border: $border;
			margin: 0;
			padding: 0;
			& p {
				margin-bottom: 0;
			}
			& img {
				@include col();
				@include size(5);
				@include size-md(12);
				//display: inline-block;
				border: $border;
				max-width: 250px;
				max-height: 160px;
			}
			& ul {
				@include col();
				@include size-md(12);
				@include size(7);
				border: $border;
				//margin-bottom: 20px;
				display: inline-block;
				min-height: 160px;
				margin: 0;
				padding: 0;
			}
			& ul li {
				font-family: $accent-font;
				font-weight: 300;
				font-size: 15px;
				line-height: 22px;
				color: $secondary-color;
				list-style-type: circle;
				margin-left: 40px;


			}
		}
		& .date {
		  border: $border;
			float: right;
			margin-top: 10px;
			margin-right: 5px;
			font-family: $primary-font;
			font-weight: 400;
			font-size: 14px;
			color: $secondary-color;
		}
		& h2 {
			border: $border;
			display: block;
			font-family: $primary-font;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: $secondary-color;
			text-transform: uppercase;
			border-bottom: 2px solid $secondary-color;
			margin: 20px 0;
		}

	}	 
}

.visible {
	display: block;
}
.invisible {
	display: none;
}
.new-cat__product {
	border: $border;
	font-family: $primary-font;
	color: $white-color;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	background-color: #FCFCFC;
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1),
							inset 0 3px 5px rgba(0,0,0,0.1);
	border-radius: 5px;

	&:first-child {
		margin-top: 0;
	}
	& .product__is {
		border: $border;
		width: 100%;
		padding: 15px 20px;

		& .product__category {
			text-transform: uppercase;
		}
		& .product__id {	
			color: $secondary-color;
			border: $border;
			text-align: left;
			display: block;
			font-size: 15px;
			font-weight: 400;
			padding-bottom: 1px;
			margin-bottom: 10px;
			border-bottom: 1px solid $secondary-color;
		}
		& .product__name {
			padding-bottom: 5px;
			margin-bottom: 5px;
			border: $border;
			border-bottom: 2px solid white;
			font-family: $primary-font;
			font-size: 15px;
			font-weight: 400;
			color: $secondary-color;
			padding-bottom: 10px;
			display: block;
			text-align: left;
			text-transform: uppercase;

		}
		& .product__desc {
			border: $border;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 300;
			line-height: 18px;
			color: $secondary-color;
			padding: 5px 0 10px 0;
			border-radius: 3px;			
			margin-bottom: 10px;
			display: block;
			text-align: left;	
		}		
		& .product__price {
			display: block;
			text-align: left;
			border: $border;
			font-family: $primary-font;
			font-weight: 400;
			color: $secondary-color;
			font-size: 15px;			
		}
	}	
	& .product__image {
		padding: 15px;
		border: $border;
		box-shadow: 0px 0px 100px -16px rgba(255,255,255,1);
		display: flex;
		& img {
			margin: auto 0 ;
		}

		& .product__id {
			display: block;
			text-align: center;
			border: $border;
			font-family: $primary-font;
			font-weight: 500;
			color: $secondary-color;
			font-size: 16px;
			margin: 5px 0;
			padding: 3px 0;
			background-color: rgba(0,0,0, .3);
		}
	}
}


////////// SERVICES////////// SERVICES///////// SERVICES /////////	
////////// SERVICES////////// SERVICES///////// SERVICES /////////
////////// SERVICES////////// SERVICES///////// SERVICES /////////

.services { 
	border: $border;
	padding-top: 47px;
	padding-bottom: 24px;
	@include row-flex;

	& .services__container {
		@include row-flex;
		border: $border;
		justify-content: center;
		@include wrapper();
		max-width: 1170px;
		box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);

		& .services__desc {
			border: $border;
			@include col();
			@include size(6);
			@include size-lg(6);
			@include size-md(12);
			@include size-xs(12);
			padding: 40px 20px 10px 30px;

			& h2 {
				border: $border;
				display: block;
				font-size: 30px;
				font-family: $primary-font;
				color: $black-color;
				text-transform: uppercase;
				font-weight: 700;		
				padding-bottom: 20px;
			}
			& p {
				border: $border;
				text-align: justify;
				font-family: $accent-font;
				font-size: 16px;
				color: $black-color;
				font-weight: 300;				
				padding-bottom: 20px;
				line-height: 22px;
				text-align: justify;
			}
		}
	}
}			


.services .services__container .services__img {
	@include col();
	@include size(6);
	@include size-lg(6);
	@include size-md(12);
	@include size-xs(12);		
	border: $border;
}	
.profchem {			

	border: $border;	
	padding-top: 40px;
	margin: 0 auto;
	& img {
		width: 540px;
		height: 350px;
		@include lg(width, 430px);
		@include lg(height, 100%);
	}
}		


////////// AIDS /////////// AIDS /////////// AIDS //////////
////////// AIDS /////////// AIDS /////////// AIDS //////////
////////// AIDS /////////// AIDS /////////// AIDS //////////

.aids { 
	@include row-flex;	
	border: $border;
	padding: 40px 0;

	& .aids__container { 		
		@include row-flex;
		@include wrapper();
		width: 100%;
		max-width: 1230px;
		@include md(justify-content, space-around);
		justify-content: space-between;
		border: $border;
  	box-shadow: 0 8px 20px 2px rgba(0,0,0,0.1);
  	border-radius: 5px;
  	padding:0;

	  & .aids__desc {		
	  	background: #2775AC;	
	  	border: $border;
	  	@include col();
	  	@include size(6);
	  	@include size-lg(6);
	  	@include size-md(12);
	  	@include size-xs(12);		
			margin: 0;
			padding: 0;

	  	& h2 {
				border: $border;
				display: block;
				font-size: 30px;
				font-family: $primary-font;
				color: $white-color;
				text-transform: uppercase;
				font-weight: 700;
				padding: 20px;
			}
	  	& p {
				border: $border;
				text-align: justify;
				font-family: $accent-font;
				font-size: 16px;
				color: $white-color;
				font-weight: 300;
				padding: 20px;
				line-height: 20px;
				text-align: justify;				
			}
			& ul li {
				border: $border;
				font-family: $accent-font;
				font-size: 16px;
				color: $white-color;
				font-weight: 300;
				padding-left: 20px;
				line-height: 22px;
				text-align: justify;
				list-style-type: circle;
				list-style-position: inside;
			}
	  }
	  & .aids__img {		
	  	@include col();
	  	@include size(6);
	  	@include size-lg(6);
	  	@include size-md(12);
	  	@include size-xs(12);	
	  	border: $border;
  		margin: 0;
	  }
	}
}

//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////
//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////
//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////

.clearfix {
	clear: both;
}

////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////
////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////
////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////

.reviews {
	border: $border;
	@include row-flex;
	background: $white-color;
	margin-bottom: 20px;

	& .reviews__container {
		@include row-flex;
		@include wrapper();
		max-width: 1170px;
		background: $white-color;
		border: $border;
	//	text-align: center;
		border-radius: 5px;
	
		//box-shadow: 2px 5px 10px rgba(0,0,0,.2);

		& .review {
			border: $border;
			display: row-flex;		
			padding: 20px 20px;
			
			& p {
				border: $border;				
			  @include size(8);
				@include size-lg(8);
				@include size-md(12);
				@include size-xs(12); 
				display: inline-block;
				background: $secondary-color;
				font-family: $accent-font;
				font-size: 16px;
				font-weight: 300;
				line-height: 24px;
				text-align: left;
				color: $white-color;
				padding: 20px;
				//padding: 7px 7px 15px 7px;
				box-shadow: -5px -5px 15px rgba(255,255,255, 0.3),
											0px 7px 15px rgba(0,0,0, 0.25),
											7px 0px 15px rgba(0,0,0, 0.25),
											20px 20px 35px rgba(0,0,0, 0.2);
				border-radius: 5px;
			}
			& figure {
				border: $border;
	 			@include size(3);
				@include size-lg(3);
				@include size-md(5);
				@include size-xs(5); 
				display: inline-block;
				background: $white-color;
				text-align: right;
				margin-left: 10px;
				//justify-content: center;


				& img { 
					border: $border;
					display: inline-block;
					width: 50px;
					height: 50px;					
					//float: left;
					border-radius: 45%;			
					box-shadow: -5px -5px 15px rgba(255,255,255, 0.3),
											0px 7px 15px rgba(0,0,0, 0.15),
											7px 0px 15px rgba(0,0,0, 0.15),
											20px 20px 55px rgba(0,0,0, 0.3);
				}
				& figcaption {
					border: $border;
					display: inline-block;				
					margin-left: 20px;
					font-family: $accent-font;
					font-weight: 400;
					font-size: 18px;
					text-align: left;
					color: black;
					line-height: 20px;
					& span {
						border: $border;
						font-size: 12px;
					}
				}
			}
		}
	}	
}

////////// SECTION DELIVERY ////////// SECTION DELIVERY //////////
////////// SECTION DELIVERY ////////// SECTION DELIVERY //////////
////////// SECTION DELIVERY ////////// SECTION DELIVERY //////////
.delivery__section {
	border: $border;
	@include row-flex;

	& .delivery__container {
		border: $border;
		@include row-flex;
		@include wrapper();
		max-width: 1170px;
		justify-content: space-around;

		& .service1,
		& .service2 {
			@include col();
			@include size(6);
			@include size-sm(12);
			padding: 50px 50px; 
			margin: 40px 0;
			box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
			border-radius: 3px;

			& .delivery__heading {
				padding-bottom: 10px;
				border-bottom: 2px solid black;

				& h2 {
					font-family: $primary-font;
					font-size: 30px;
					text-transform: uppercase;
					float: right;
				}
				& .fa {
					line-height: 36px;
					color: $accent-color;					
				}
			}
			& span {
				display: block;
				margin-top: 30px; 
				font-size: 16px;
				font-family: $accent-font;
				line-height: 22px;
				font-weight: 300;
				text-align: justify;
				@include md(font-size, 20px);
				&:first-letter {
					font-size: 24px;
				}
			}
			& ul {
				padding-top: 20px;
				& li{
					font-family: $accent-font;
					line-height: 30px;
					font-weight: 300;
					font-size: 16px;
					line-height: 22px;
					@include md(font-size, 20px);
				}
			}
		}
	}
}
////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
.footer__navigation {
	@include row-flex;
	background: $secondary-color;
	border: $border;

	& .nav__container {
		@include row-flex;
		@include wrapper();		
		border: $border;
		width: 100%;
		max-width: 1170px;

		& .container {
			border: $border;
			display: inline-block;
			margin: 0 auto;

			& .link {
				border: $border;
				display: inline-block;
				margin: 0 20px;
				@include md(margin, 0 5px);
				@include xs(margin, 0 2px);

				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				& a {
					display: inline-block;
					border: $border;
					line-height: 60px;			
					font-family: $primary-font;
					font-size: 20px;
					text-decoration: none;
					text-transform: uppercase;
					color: white;	
					padding: 0 20px 0 20px;
					@include md(font-size, 16px);
					@include xs(font-size, 14px);
					@include md(padding, 0 10px);
					
					&:hover {
						content: "";
						color: $secondary-color;
						background-color: #FFF;
		  		}
			  }
			}
		}
		& .footer-nav {
			border: $border;
			margin: 0 auto;				
		}
	} 
}
footer {
	margin: 50px 0;
	@include row-flex;
	border: $border;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	background-image: url('../img/carpet.png');
	background-position: right;
	background-repeat: no-repeat;
	@include lg(background-image, none);

	& .footer__container {
		@include row-flex;
		@include wrapper();
		border: $border;
		width: 100%;
		max-width: 1168px;
		padding: 40px 0 ;

		& .footer__col {
			@include col();
			@include size(3);
			@include size-lg(6);
			@include size-md(6);
			@include size-xs(6);
			border: $border;
			text-align: center;
			& h4 {
				font-family: $primary-font;
				font-size: 24px;
				@include md(font-size, 16px);
				color: $black-color;
				font-weight: 500;
				line-height: 40px;
				text-transform: uppercase;
				text-align: center;
			}
			& p,
			& span {
				font-family: $primary-font;
				font-size: 22px;
				@include md(font-size, 14px);
				color: $black-color;
				font-weight: 500;
				line-height: 24px;
			}
			& a {
				font-family: $primary-font;
				font-size: 22px;
				text-decoration: none;
				color: $black-color;
				&:hover {
					color: $secondary-color;
				}
			}
		}
		& .footer__logo {
			margin: 10px;
			padding: 10px;
		}
	}
}